<% @tx = Transaction.last %>
<div class="row">
  <h2>
    <span class="hidden-xs">Details for Address </span>
  </h2>
  <table class="table" id="details">
    <tbody>
    <tr>
      <td>Address</td>
      <td> <%= @address.address %> </td>
    </tr>

    <tr>
      <td>Balance</td>
      <td> <%= @address.balance %> NLC2 </td>
    </tr>

    <tr>
      <td>Received</td>
      <td> <%= @address.total_received %> NLC2 </td>
    </tr>

    <tr>
      <td>Staked</td>
      <td> <%= @address.total_staked %> NLC2 </td>
    </tr>

    <tr>
      <td>Sent</td>
      <td> <%= @address.total_spent %> NLC2 </td>
    </tr>
    </tbody>
  </table>
</div>

<table class="table table-hover">
  <thead>
  <tr class="table-section"><td colspan="4"><h3>Received</h3></td></tr>
  <tr>
    <th>Transaction Hash</th>
    <th>Date/Time</th>
    <th>Transaction Type</th>
    <th>Confirmations</th>
    <th>Value Out</th>
  </tr>
  </thead>
  <tbody>
  <% @output_transactions.each do |tx| %>
      <tr>
        <td> <%= link_to tx.tx_hash, transaction_path(tx) %> </td>
        <td> <%= tx.block.time %> </td>
        <td> <%= tx.tx_type.titleize %> </td>
        <td class="center"> <%= tx.confirmations %> </td>
        <td> <%= tx.stake_value || tx.value_out %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="row center">
  <%= will_paginate @output_transactions, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 3,
                    :param_name => 'ot_page' %>
</div>

<table class="table table-hover">
  <thead>
  <tr class="table-section"><td colspan="4"><h3>Spent</h3></td></tr>
  <tr>
    <th>Transaction Hash</th>
    <th>Date/Time</th>
    <th>Transaction Type</th>
    <th>Confirmations</th>
    <th>Value Out</th>
  </tr>
  </thead>
  <tbody>
  <% @input_transactions.each do |tx| %>
      <tr>
        <td> <%= link_to tx.tx_hash, transaction_path(tx) %> </td>
        <td> <%= tx.block.time %> </td>
        <td> <%= tx.tx_type.titleize %> </td>
        <td class="center"> <%= tx.confirmations %> </td>
        <td> <%= tx.stake_value || tx.value_out %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="row center">
  <%= will_paginate @input_transactions, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 3,
                    :param_name => 'it_page' %>
</div>